<div class="container-fluid footer-bg">
    <div class="text-footer">
        <p class="today-footer">Get started with Opensort today</p>
        <button class="qr">Buy Qrcode</button>
        <ul class="socials">
            <li class="list"><a><img class="banner-img" src="/assets/images/load.png">Adaptable</a></li>
            <li class="list"><a><img class="banner-img" src="/assets/images/lock.png">Secure</a></li>
            <li class="list"><a><img class="banner-img" src="/assets/images/hand.png">Sustainable</a></li>
        </ul>
    </div>
    <div class="opensort">
        <!-- <p class="opensortname"><img class="banner-img" src="/assets/images/logo.png"></p> -->
        <div class="row">
            <div class="footer-col">
                <p class="footer-ul">Opensort Home</p>
                <ul>
                    <li class="footer-sub">Home</li>
                    <li class="footer-sub">Get QR</li>
                    <li class="footer-sub-1">FAQs</li>
                </ul>
            </div>
            <div class="footer-col">
                <p class="footer-ul">Pages</p>
                <ul>
                    <li class="footer-sub">Opensort Home</li>
                    <li class="footer-sub">Contact</li>
                    <li class="footer-sub-1">News</li>
                </ul>
            </div>
            <div class="footer-col">
                <p class="footer-ul">Legal</p>
                <ul>
                    <li class="footer-sub">Privacy Policy</li>
                    <li class="footer-sub-1">Term & conditions</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <p class="copy-text">&copy;2030Opensort Limited</p>
    </div>
</div>