<!-- //Banner// -->

<section class="container-fluid banner">
  <div class="container index">
    <div class="row  banner-one">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="instant">INSTANT AND SECURE COMMUNICATION POWERED BY QR</p>
        <h1>
          Upgrade
          anywhere with
          an instant
          Smart Doorbell
        </h1>
        <p class="banner-p mt-5">
          Opensort is a Smart Doorbell and Intercom that’s powered
          by QR. Its secure, low-cost, technology thats works
          anywhere.
        </p>
        <button class="mt-2 banner-btn">
          Buy Qrcode
        </button>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 banner-img-content ">
        <img class="banner-img" src="/assets/images/banner-logo.png">
      </div>
    </div>
  </div>
</section>


<!-- //seamless_secure// -->

<section class="container-fluid seamless_secure">
  <div class="container">
    <div class="content text-center">
      <p class="p-one">SEAMLESS & SECURE</p>
      <p class="p-two">Answer your door from <br>
        anywhere</p>
      <p class="p-three">Opentsort uses bespoke, weatherproof codes that can be added to any
        location, to provide an instant method for your visitors or customers
        to securely contact you, without any personal details being
        exchanged.</p>

    </div>
    <img class="mt-5" style="width: inherit;" src="/assets/images/seamless-img.png">
  </div>
</section>


<!-- //homeproduct// -->


<section class="container-fluid homeproduct">
  <div class="container">
    <div class="content text-center">
      <p class="p-one">10,000+ CUSTOMERS WORLDWIDE</p>
      <i class="p-two">“The most interesting Smart
        Home product this year”</i>
    </div>
    <div class="row mt-5">
      <div class="col-sm-12 col-md-6 col-lg-4 card-content">
        <div class="card">
          <img src="/assets/images/wires.png">
          <div class="card-body">
            <p class="p-four">No Wires or Wifi</p>
            <p class="card-text">Opensort requires no outside power
              source or internet connection to
              work</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card-content">
        <div class="card">
          <img src="/assets/images/installation.png">
          <div class="card-body">
            <p class="p-four">Easy Installation</p>
            <p class="card-text">It takes ten seconds to set up and
              stick your Opensort anywhere
              you need it</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 card-content">
        <div class="card">
          <img src="/assets/images/works.png">
          <div class="card-body">
            <p class="p-four">Works Anywhere</p>
            <p class="card-text">Use custom messaging and auto-
              responses to capture new leads</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-content">
      <button class="btn-qr">
        Buy Qrcode
      </button>
    </div>

  </div>
</section>



<!-- //doorbells&Intercoms// -->


<section class="container-fluid doorbell">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="/assets/images/doorbells.png">
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">

        <p class="p-one">POWERED BY BESPOKE QR CODES</p>
        <p class="p-two">A better solution to
          expensive smart doorbells
          and intercoms</p>
        <p class="p-three">Each QBell is a bespoke, weatherproof code that can be customised 
          with your own message. It pairs directly to your handset, so your visitors
           can connect with you securely, wherever you are.</p>
           <div class="row" style="margin-top: 60px;">
            <div class="col-md-6 col-lg-6">
              <div class="card qbell" >
                <img src="/assets/images/fa-solid_cloud-sun-rain.png" style="width: 10%;">
                <p class="weather">Weatherproof and 
                  durable</p>
                  <p class="weather-one">Opensort codes can stay outside 
                    for years</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="card qbell">
                <img src="/assets/images/pen.png" style="width: 10%;">
                <p class="weather">Customizable text</p>
                <p class="weather-one">Add your own message in any
                  language</p>
              </div>
            </div>
           </div>
          
      </div>
    </div>
  </div>
</section>



<!-- //Messaging&features// -->


<section class="container-fluid messaging">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6" style="padding-top: 40px;">
        <p class="p-one">MESSAGING FEATURES</p>
        <p class="p-two">Everything you need<br>
          to remain<br>
          contactable from<br>
          anywhere</p>
          <p class="p-three">Chat in real-time with your visitors or customers, without
            any personal details exchanged, or any visitor app
            required.</p>

            <ul style="list-style: none;" class="ul-message mt-5">
              <li><img src="/assets/images/message.png"> Instant messaging</li>
              <li><img src="/assets/images/replies.png"> Preset Instant Replies</li>
              <li><img src="/assets/images/voice.png"> Voice note exchange</li>
              <li><img src="/assets/images/PhoneCall.png"> Voice Calls <span style="color:#0ABAB5">COMING SOON</span> </li> 
              <li><img src="/assets/images/VideoCamera.png"> Video Calls <span style="color:#0ABAB5">COMING SOON</span></li>
            </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 text-center">
        <img class="img-fluid" src="/assets/images/iphone.png">
      </div>
    </div>
    <button class="message-btn">
      Buy Qrcode
    </button>
  </div>
</section>


<!-- //Messaging&features// -->


<section class="container-fluid">
  <div class="container">
    
  </div>
</section>

